@import '~react-bootstrap-table2-filter/dist/react-bootstrap-table2-filter.min.css';
@import '~react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';
@import "./nrds.scss";
@import "./multi-select.scss";
#root > div {
  height: 100%;
}

.no-slos-exist {
  height: 100%;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.hidden {
  display: none;
}

.no-slos-container {
  display: flex;
  max-width: 490px;
  margin: 0 auto;
  padding: 32px 24px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 75, 82, 0.11),
    0px 3px 0px rgba(0, 49, 54, 0.04), 0px 1px 3px rgba(0, 134, 148, 0.03),
    0px 4px 7px rgba(70, 107, 111, 0.05);
  border-radius: 5px;
}

.empty-state-header {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
  color: #2a3434;
}

.empty-state-description {
  text-align: center;
  margin-bottom: 10px;
}

[class*="InnerModal-content"] {
  [class*="Text--type-heading"] {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000d0d;
  }

  p {
    margin-bottom: 16px;
  }

  button {
    margin-right: 8px;
  }
}

[class*="InnerModal"] {
  background-color: #fff;
}

[class*="InnerModal-content"] {
  button[class*="Dropdown-trigger"] {
    width: 100%;
  }

  [class*="Dropdown-trigger-content"] {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.define-slo-input {
  display: block;
  margin-bottom: 16px;
}

.dropdown-label {
  padding-bottom: 4px;
  padding-top: 0;
  font-size: 14px;
  color: #000e0e;
  text-align: left;
  line-height: 19px;
  text-transform: none;
  font-weight: 600;
  letter-spacing: 0px;
}

.error-budget-dependancy {
  margin-bottom: 16px;
}

.input-description {
  margin-top: 4px;
  display: inline-block;
}


.toolbar-container {
  height: 70px;
  box-sizing: border-box;
  border-top: 1px solid #d5d7d7;
  border-bottom: 1px solid #e3e4e4;
  box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.02);
  background: #edeeee;
  padding: 0 16px;
}

.toolbar-left-side {
  display: flex;
  align-items: center;
}

.toolbar-left-side hr {
  width: 1px;
  height: 70px;
  background-color: #e3e4e4;
  margin: 0 16px;
  border: none;
}

.toolbar-right-side {
  button {
    margin-left: 16px;
  }
}

.slo-table-container {
  margin-top: 16px;
}

.slo-table {
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0px 1px 0px rgba(0, 75, 82, 0.11), 0px 3px 0px rgba(0, 49, 54, 0.04), 0px 1px 3px rgba(0, 134, 148, 0.03), 0px 8px 7px rgba(70, 107, 111, 0.05);
  width: 100%;
}

.slo-table > tbody > tr > td {
  background-color: #fff;
  box-shadow: inset 0 1px 0 #F4F5F5;
}

.status-good {
  color: #085300;
  background-color: #dbf8db;
  box-shadow: 0 0 0 3px #dbf8db;
  border-radius: 2px;
  padding: 0 2px;
}

.status-poor {
  color: #bf0015;
  background-color: #fcf2f3;
  box-shadow: 0 0 0 3px #fcf2f3;
  border-radius: 2px;
  padding: 0 2px;
}

[class*='viz-table'] .list-item-label {
  padding: 0;
}

[class*='viz-table'] .list-item-label__text {
  overflow: visible;
}

[class*='nr-css-TableHeaderCell'] {
  background-color: #fff;
}

div[class*=-nr-css-Table-body] div[class*=-nr-css-TableCell].is-odd {
  background-color: #fff;
}

[class*='nr-css-TableCell'] {
  box-shadow: inset 0 1px 0 #F4F5F5;
}

[class*='nr-css-TableHeaderCell'] {
  box-shadow: none;
  
  &:hover {
    cursor: pointer;
    background-color: #fafbfb;
    
    [class*='nr-css-TableHeaderCell-title'] {
      background-color: #fafbfb;
    }
    
    [class*='nr-css-TableHeaderCell-arrow'] {
      background-color: #fafbfb;
    }
  }
}

.slo-grid-container {
  grid-gap: 16px;
  position: relative;
  grid-auto-rows: 232px;
  align-items: stretch;
}

.slo-grid-item {
  display: grid;
  grid-template-columns: repeat(6, 16.66666667%);
  grid-template-rows: 114px 59px 59px;
  grid-template-areas: 
    "header header header header header header"
    "   a      a      a      b      b      b  "
    "   c      c      d      d      e      e  ";
  height: 100%;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 1px 0px rgba(0, 75, 82, 0.11),
    0px 3px 0px rgba(0, 49, 54, 0.04), 0px 1px 3px rgba(0, 134, 148, 0.03),
    0px 8px 7px rgba(70, 107, 111, 0.05);
  border-radius: 2px;
  perspective: 2000px;
  transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.slo-grid-item-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 114px;
  text-align: center;
  border-bottom: 1px solid #EDEEEE;
  grid-area: header;
}

.slo-grid-item-header-title {
  font-weight: 600;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  color: #2A3434;
}

.slo-grid-item-header-type {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #464E4E;
  background-color: #EDEEEE;
  padding: 2px 5px;
  border-radius: 2px;
  margin-top: 4px;
  text-transform: capitalize;
}

.slo-grid-item-section-delete-button {
  position: absolute;
  top: 8px;
  right: 8px;

  span {
    pointer-events: none;
  }
}

.slo-grid-item-section-update-button {
  position: absolute;
  top: 8px;
  right: 40px;

  span {
    pointer-events: none;
  }
}

.slo-grid-item-section-update-view-button {
  position: absolute;
  top: 8px;
  right: 72px;

  span {
    pointer-events: none;
  }
}

.slo-grid-item-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.status-good {
    position: relative;
    background-color: transparent;
    box-shadow: none;

    &:after {
      content: '';
      position: absolute;
      top: 6px;
      right: 6px;
      left: 6px;
      bottom: 6px;
      color: #085300;
      background-color: rgba(219, 248, 219, 0.4);
      border-radius: 3px;
    }
  }
  
  &.status-poor {
    position: relative;
    background-color: transparent;
    box-shadow: none;

    &:after {
      content: '';
      position: absolute;
      top: 6px;
      right: 6px;
      left: 6px;
      bottom: 6px;
      color: #bf0015;
      background-color: #fcf2f3da;
      border-radius: 3px;
    }
  }
}

.section-current {
  grid-area: a;
  border-right: 1px solid #edeeee;
  border-bottom: 1px solid #edeeee;
}
.section-org {
  grid-area: b;
  border-bottom: 1px solid #edeeee;
}
.section-7day {
  grid-area: c;
  border-right: 1px solid #edeeee;
}
.section-30day {
  grid-area: d;
  border-right: 1px solid #edeeee;
}
.section-target {
  grid-area: e;
}

.slo-grid-item-section-value {
  position: relative;
  z-index: 10;
  font-size: 16px;
  color: #000D0D;

  .status-good & {
    color: #085300;
  }

  .status-poor & {
    color: #bf0015;
  }

  [class*='wnd-Spinner'] {
    padding-bottom: 28px;
    margin-top: -8px;
  }
}


.slo-grid-item-section-label {
  position: relative;
  z-index: 10;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #8E9494;

  .status-good & {
    color: #085300;
    opacity: .65;
  }

  .status-poor & {
    color: #bf0015;
  }
}

.segmented-control-container {
  box-shadow: inset 0 0 0 1px #007E8A;
  border-radius: 2px;
  height: 26px;
}


div.segmented-control-container button.grid-view-button,
div.segmented-control-container button.table-view-button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  min-height: auto;
  height: 26px;
  background-color: transparent;
  color: #007E8A;

  
  &:first-child {
    border-radius: 3px 0 0 3px;
  }
  
  &:last-child {
    border-radius: 0 3px 3px 0;
  }

  &.active {
    background-color: #007E8A;
    color: #fff;
  }

  &:focus {
    background: transparent;
    box-shadow: 0 0 0 2px #007e8a3a;

    &.active {
      background-color: #007E8A
    }
  }

  .ic-Icon {
    display:inline-block;
    margin-right: 6px;
  }
}

/* settings-menu.js from Status Pages */

.service-settings-button {
  position: absolute;
  top: 8px;
  right: 8px;

  span {
    pointer-events: none;
  }
}

.service-settings-dropdown {
  display: none;
  width: 150px;
  position: absolute;
  top: 37px;
  right: 8px;
  background: #ffffff;
  border: 1px solid #e3e4e4;
  box-sizing: border-box;
  box-shadow: 0px 16px 32px rgba(0, 13, 13, 0.2),
    0px 16px 32px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  list-style-type: none;
  text-align: left;
  z-index: 11; /* Only difference between this and status pages is incrementing this one */

  .settings-popover-active & {
    display: block;
  }
}

.service-settings-dropdown-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #000d0d;
  height: 32px;
  padding: 0 8px;
  border-bottom: 1px solid #e3e4e4;

  &:last-child {
    border: none;
  }

  &:hover {
    cursor: pointer;
  }

  .ic-Icon {
    margin-right: 8px;
  }

  &.destructive {
    color: #bf0016;
  }
}