.nerdlet-container {
  background-color: #F7F8F8;
  overflow: hidden;
}

.toolbar {
  background: #edeeee;
  box-sizing: border-box;

  &__item {
    padding: 20px;

    &--separator {
      border-right: 1px dotted #d5d7d7;
    }
  }
}

.slos-container {
  background: white;
  border-right: 1px solid #F7F8F8;
  min-width: 360px;
  max-width: 360px;
  height: 100%;

  &__multiselect {
    padding: 15px 15px 5px 15px;
  }
}

.slos-container__list {
  list-style: none;
  margin-top: 25px;
}

.slo__indicator {
  padding: 2px 5px;
  background-color: #EDEEEE;
  margin-left: 10px;
  border-radius: 2px;
  color: #464E4E;
}

.slo {
  padding: 12px 20px;
  color: black;

  &:hover {
    cursor: pointer;
    background-color: #F7F8F8;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin: 22px 0 0 22px;
  }

  &__tag {
    @extend .slo__indicator;
    display: block;
    margin-left: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #223030;
    background-color: #F1FBFC;
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__name {
    margin-left: 10px;
  }

  &__input {
    cursor: pointer;
  }
}


.slo--active {
  background-color: #F1FBFC;
  color: #00484E;
}

.main-content-container {
  padding: 25px;
  overflow-y: auto;
  height: 100%;
}

.table-container {
  margin-bottom: 50px;
}

.table-container__header {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
}

.grid-container {
  grid-gap: 16px;
}
