@import "./nrds.scss";
@import '~@newrelic/nr1-community/dist/index.css';
@import url('//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css');

/* -------------------- */
// Utility Classes
/* -------------------- */

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.entity-toolbar-container {
  height: 74px;
  box-sizing: border-box;
  border-top: 1px solid #d5d7d7;
  border-bottom: 1px solid #e3e4e4;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.02);
  background: #edeeee;
  padding: 0 16px;
}

.toolbar-section1 .toolbar-item:first-child {
  padding-left: 0;
}

.toolbar-item {
  display: flex;
  justify-content: center;
  padding: 8px 16px;
  align-items: center;

  &.has-separator {
    border-right: 1px dotted #d5d7d7;
  }
}

.primary-grid {
  grid-gap: 0;
  overflow: hidden;
  position: relative;
  height: calc(100% - 74px);
}

.sidebar-container {
  height: 100%;
  overflow: scroll;
  border-right: 1px solid #eeeeee;
  background-color: #fff;
}

.primary-content-container {
  overflow: scroll;
  padding: 16px;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 12px 16px;
  list-style-type: none;
  color: #2a3434;
  font-size: 12px;
  overflow-wrap: break-word;
  border-bottom: 1px solid #f4f4f4;

  &:hover {
    background-color: #fafbfb;
    cursor: pointer;
  }
}

.primary-content {
  box-sizing: border-box;
  padding: 16px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 11px 15px -10px rgba(31, 75, 116, 0.15),
    0 1px 3px 1px rgba(0, 134, 148, 0.03), 0 3px 0 0 rgba(0, 49, 54, 0.04),
    0 1px 0 0 rgba(0, 75, 82, 0.04);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 12px;
  }

  p {
    font-size: 14px;
    color: #464e4e;
    line-height: 21px;
  }

  ul {
    padding: 16px 32px;
    font-size: 14px;
    color: #464e4e;
    line-height: 21px;
  }
}

.empty-state {
  height: 100%;
  box-sizing: border-box;
  border: 3px dashed #e3e4e4;
  border-radius: 10px;
  padding: 24px;
  margin: 16px;
  text-align: center;

  .empty-state-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #464e4e;
    text-transform: none;
    margin-bottom: 10px;
  }

  .primary-content>& {
    margin: 0;
  }
}

p.empty-state-description {
  font-size: 14px;
  line-height: 20px;
  color: #8e9494;
}

code {
  .primary-content p & {
    font-size: 12px;
    background-color: #edeeee;
    border-radius: 3px;
    padding: 2px 5px;
    color: #464e4ec7;
  }
}

.slo-preview-toolbar-item {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.attainment-footer {
  font-size: 16px;
  border-top: 1px solid #e5f6f6;
}

.slo-summary-table {
  // max-width: 1000px;
  margin: 0 auto;
}

[class*='wnd-HeadingText--type-heading-2'].summary-table-header {
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
}

.slo-table th:hover {
  border-top: none;
}

.sla-summary-table-stack-item {
  height: 100%;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attainment-footer th {
  font-size: 16px;
  font-weight: 600;
  padding: 16px 16px;
  color: #007e8a;
  background-color: #f7ffff;

  &:first-child {
    letter-spacing: 1px;
    font-weight: 600;
  }

  &:hover {
    background-color: #f7ffff;
  }
}

h2.no-slos-for-indicator-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #8e9494;
  margin-top: -32px;
}

.header-right-side {
  width: 600px;
  margin-left:auto; margin-right:20px;
  text-align: left;
  vertical-align: middle;

  [class*="wnd-Spacing"] {
    font-size: 12px;
    vertical-align: bottom;
    margin-top: 1em;
  }
}

.nerdlet-container {
  background-color: #F7F8F8;
  overflow: hidden;
}

.slos {
  overflow-y: auto;
  overflow-x: hidden;

  @media (max-width: 800px) {
    justify-content: center !important;
  }
}

.toolbar {
  background: #edeeee;
  box-sizing: border-box;

  &__item {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    align-items: center;

    &--separator {
      border-right: 1px dotted #d5d7d7;
      margin-left: 0 !important;
    }

    &--align-right {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.slos-container {
  position: sticky;
  top: 0;
  background: white;
  border-right: 1px solid #F7F8F8;
  min-width: 360px;
  max-width: 360px;
  height: 100%;
  overflow-y: auto;

  &__multiselect {
    padding: 15px 15px 5px 15px;
  }

  &__buttons {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background: rgba(255,255,255, .8);

    .button {
      margin-right: 8px;
    }
  }
}

.slos-container__list {
  list-style: none;
  margin-top: 25px;
}

.slo__indicator {
  padding: 2px 5px;
  background-color: #EDEEEE;
  margin-left: 10px;
  border-radius: 2px;
  color: #464E4E;
}

.slo {
  padding: 12px 20px;
  color: black;

  &:hover {
    cursor: pointer;
    background-color: #F7F8F8;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin: 22px 0 0 22px;
  }

  &__tag {
    @extend .slo__indicator;
    display: block;
    margin-left: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #223030;
    background-color: #F1FBFC;
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__name {
    margin-left: 10px;
  }

  &__input {
    cursor: pointer;
  }

  &__allTx {
    cursor: pointer;
    display: inline-flex;
    margin-left: 10px;
  }
}


.slo--active {
  background-color: #F1FBFC;
  color: #00484E;
}

.main-content-container {
  padding: 25px;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}

.table-container {
  margin-bottom: 50px;
}

.table-container__header {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
}

.grid-container {
  grid-gap: 16px;

  @media (max-width: 800px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.slo-list {
  padding: 20px;
  width: 100%;
  &__table-container {
    margin: 20px;
  }
}

[class*=InnerModal-content] {
  display: table-cell;
}

.text-field__validation, .multiselect__validation {
  position: relative;
  color: #bd071f;
}

.text-field__validation {
  top: -10px;
}

.multiselect__validation {
  top: 3px;
}

.flow__displayHeader {
  display: inline-flex;
}
